.academic-study-plan {
    @media screen and (max-width: 767px) {
        &.highlighted {
            .col:not(.highlighted) {
                display: none;
            }
        }
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        gap: 0.6rem;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
        list-style-type: none;

        button {
            background: #fff;
            border: 1px solid black;
            padding: 0.45rem 1rem;
            border-radius: 999px;
            font-weight: 500;
            font-size: 0.9rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                border-color: var(--category-color);
                transform: scale(1.05);
            }

            &.highlighted {
                background: var(--highlight-color);
                border-color: var(--category-color);
            }
        }
    }

    .semesters {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        list-style: none;
        padding-left: 0;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        .col {
            padding: 0;

            .icon-minus {
                display: none;
            }

            &.open {
                .icon-plus {
                    display: none;
                }

                .icon-minus {
                    display: block;
                }

                ul {
                    display: block;
                }
            }

            @media screen and (max-width: 767px) {
                &.highlighted {
                    .module:not(.highlighted) {
                        display: none;
                    }
                }
            }

            .note {
                display: block;
            }

            .h6 {
                margin-bottom: 0;
            }

            .modal-trigger {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                border: 1px solid rgba(128, 128, 128, 0.25);
                border-top: none;
            }

            .header {
                text-align: left;
                border-bottom: 3px solid goldenrod;
                padding: 0.5rem;
                display: flex;
                flex-direction: column-reverse;

                @media screen and (min-width: 768px) {
                    text-align: center;
                }

                .wrapper {
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: space-between;

                    @media screen and (min-width: 768px) {
                        display: block;

                        .icon {
                            display: none;
                        }
                    }
                }
            }

            ul {
                padding-left: 0;
                list-style-type: none;

                @media screen and (max-width: 767px) {
                    display: none;
                }

                .module {
                    padding: 0.5rem;
                    position: relative;

                    &:has(.modal-trigger) {
                        &:hover,
                        &:focus {
                            background: rgba(218, 165, 32, 0.25);
    
                            &.highlighted {
                                background: var(--highlight-color);
                            }
                        }
                    }

                    &:not(:has(.modal-trigger)) {
                        border: 1px solid rgba(128, 128, 128, 0.25);
                        border-top: none;
                    }

                    &.highlighted {
                        background: var(--highlight-color);
                    }

                    .credits {
                        margin-bottom: 0.5rem;
                        display: block;
                    }

                    dialog {
                        border: none;
                        max-width: 50rem;

                        .wrapper {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;

                            button {
                                background: none;
                                border: none;
                            }
                        }

                        p {
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
